dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxb/types/wsfvt/test/pk71347.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://attr_nil/test" xmlns="http://attr_nil/test"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <xsd:element name="purchaseOrder" type="PurchaseOrderType" nillable="true"/>
    <xsd:complexType name="PurchaseOrderType">
        <xsd:sequence>
            <xsd:element name="items" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="orderDate" type="xsd:int"/>
    </xsd:complexType>
</xsd:schema>
