dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/soapendpoint/etc/dd/StringProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.apache.org/axis2"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="provider"
	targetNamespace="http://ws.apache.org/axis2">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://ws.apache.org/axis2"
			xmlns:tns="http://ws.apache.org/axis2"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="StringArray">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:base64Binary"
						minOccurs="0" maxOccurs="unbounded" />

				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="twoWay" type="tns:StringArray" />
			<xsd:element name="twoWayResponse" type="tns:StringArray" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="twoWayResponse">
		<wsdl:part name="twoWayResponse" element="tns:twoWayResponse" />
	</wsdl:message>
	<wsdl:message name="twoWayRequest">
		<wsdl:part name="twoWayRequest" element="tns:twoWay" />
	</wsdl:message>

	<wsdl:portType name="ProviderPortType">
		<wsdl:operation name="invokeOp">
			<wsdl:input message="tns:twoWayRequest" />
			<wsdl:output message="tns:twoWayResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProviderSOAP" type="tns:ProviderPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="invokeOp">
			<soap:operation
				soapAction="http://ws.apache.org/axis2/invokeOp" />
			<wsdl:input>
				<soap:body use="literal" parts=" twoWayRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts=" twoWayResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="ProviderSOAP" type="tns:ProviderPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="invokeOp">
			<soap:operation
				soapAction="http://ws.apache.org/axis2/invokeOp" />
			<wsdl:input>
				<soap:body use="literal" parts=" twoWayRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts=" twoWayResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="StringWSDL11PayloadProviderService">
		<wsdl:port binding="tns:ProviderSOAP" name="EchoServicePort">
			<soap:address
				location="http://localhost:9080/soapendpoint/StringProvider" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
