dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws22/mimecontent/etc/wsdl/MimeContentDefault.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<definitions targetNamespace="http://test/jaxws22/MimeContent" name="MimeContentService" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:wsp="http://www.w3.org/ns/ws-policy" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:jaxws= "http://java.sun.com/xml/ns/jaxws"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://test/jaxws22/MimeContent" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">


  <types>
  
      <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://test/jaxws22/MimeContent">
          <element name="filename"  type="xsd:string"/>
          <element name="attachedImage"  type="xsd:base64Binary"/>         
       </xsd:schema>

  </types>
   

  <message name="imageRequest">
    <part name="filename1" element="tns:filename"/>
    <part name="attachment_in" element="tns:attachedImage"/>
  </message>
  <message name="imageResponse">
    <part name="filename1" element="tns:filename"/>
    <part name="attachment_out" element="tns:attachedImage"/>
  </message>

  
  <portType name="MimeContentService">
    <operation name="echoImage">
  
      <input message="tns:imageRequest"/>
      <output message="tns:imageResponse"/>
    </operation>
  </portType>
  


  <binding name="AttachmentServicePortBinding" type="tns:MimeContentService">
    
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echoImage">
      <soap:operation soapAction=""/>
      
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body parts="filename1" use="literal" type="text/xml"/>
          </mime:part>
          <mime:part>
            <mime:content part="attachment_in" type="image/jpeg"/>
          </mime:part>
        </mime:multipartRelated>   
      </input>
           
      <output>
        <mime:multipartRelated>
          <mime:part>
            <soap:body parts="filename1" use="literal"/>
          </mime:part>
          <mime:part>
            <mime:content part="attachment_out" type="image/jpeg"/>
          </mime:part>
        </mime:multipartRelated>   
      </output>
      

    </operation>
  </binding>
  
  
  <service name="MimeContentService">
    <port name="AttachmentServicePort" binding="tns:AttachmentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
  

</definitions>

