dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/multi/etc/proxy_multi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"	
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://multi.wsfvt.multi.proxy.jaxws"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proxy.multi"
	targetNamespace="http://multi.wsfvt.multi.proxy.jaxws">
	
	<wsdl:types>
		<xsd:schema
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://multi.wsfvt.multi.proxy.jaxws"
			targetNamespace="http://multi.wsfvt.multi.proxy.jaxws">

		<element name="ping" >
			<complexType>
				<sequence>
					<element name="message_in" type="xsd:string" />
				</sequence>
			</complexType>
		</element>

		<element name="pingResponse" >
			<complexType>
				<sequence>
					<element name="message_out" type="xsd:string" />
				</sequence>
			</complexType>
		</element>

		</xsd:schema>
	</wsdl:types>	
	
	<wsdl:message name="PingRequest">
		<wsdl:part name="request" element="tns:ping" />	
	</wsdl:message>		
	
	<wsdl:message name="PingResponse">
		<wsdl:part name="reply" element="tns:pingResponse" />	
	</wsdl:message>
	
	<wsdl:message name="BarePingRequest">
		<wsdl:part name="request" element="tns:ping" />	
	</wsdl:message>		
	
	<wsdl:message name="BarePingResponse">
		<wsdl:part name="reply" element="tns:pingResponse" />	
	</wsdl:message>				
	
	<wsdl:portType name="DocLitWrMultiPort">
		
		<wsdl:operation name="ping">
			<wsdl:input message="tns:PingRequest" />
			<wsdl:output message="tns:PingResponse" />
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:portType name="DocLitBarePort">
		
		<wsdl:operation name="barePing">
			<wsdl:input message="tns:BarePingRequest" />
			<wsdl:output message="tns:BarePingResponse" />
		</wsdl:operation>
		
	</wsdl:portType>	
	
	<wsdl:binding name="DocLitWrappedBinding" type="tns:DocLitWrMultiPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="ping">
			<soap:operation soapAction="ping" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
		</wsdl:operation>		

	</wsdl:binding>
	
	<wsdl:binding name="DocLitBareBinding" type="tns:DocLitBarePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="barePing">
			<soap:operation soapAction="barePing" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		

	</wsdl:binding>	
	
	<wsdl:binding name="DocLitWrappedSOAP12Binding" type="tns:DocLitWrMultiPort">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="ping">
			<soap12:operation soapAction="ping" />
			<wsdl:input>
				<soap12:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"  />
			</wsdl:output>
		</wsdl:operation>		

	</wsdl:binding>	
	
	<wsdl:service name="ProxyMultiPortService1">
		<wsdl:port binding="tns:DocLitWrappedBinding" name="MultiPort1">
			<soap:address location="http://@HOST@:@PORT@/jwpr.multi/services/MultiPort1" />
		</wsdl:port>
		
		<wsdl:port binding="tns:DocLitBareBinding" name="MultiPort2">
			<soap:address location="http://@HOST@:@PORT@/jwpr.multi/services/MultiPort2" />
		</wsdl:port>		
	</wsdl:service>
	
	<wsdl:service name="ProxyMultiPortService2">
		<wsdl:port binding="tns:DocLitWrappedSOAP12Binding" name="MultiPort3">
			<soap12:address location="http://@HOST@:@PORT@/jwpr.multi/services/MultiPort3" />
		</wsdl:port>
	</wsdl:service>	
	
</wsdl:definitions>
	