dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webmethod_g2/runtime/etc2/wsdl/WebMethodRuntimeVoidCheckService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://server2.runtime.webmethod_g2.annotations" name="WebMethodRuntimeVoidCheckService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server2.runtime.webmethod_g2.annotations" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server2.runtime.webmethod_g2.annotations" schemaLocation="WebMethodRuntimeVoidCheckService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="voidReturnMethod">
    <part name="parameters" element="tns:voidReturnMethod"/>
  </message>
  <message name="voidReturnMethodResponse">
    <part name="parameters" element="tns:voidReturnMethodResponse"/>
  </message>
  <message name="echo">
    <part name="parameters" element="tns:echo"/>
  </message>
  <message name="echoResponse">
    <part name="parameters" element="tns:echoResponse"/>
  </message>
  <message name="echoInt">
    <part name="parameters" element="tns:echoInt"/>
  </message>
  <message name="echoIntResponse">
    <part name="parameters" element="tns:echoIntResponse"/>
  </message>
  <message name="echoModified">
    <part name="parameters" element="tns:echoModified"/>
  </message>
  <message name="echoModifiedResponse">
    <part name="parameters" element="tns:echoModifiedResponse"/>
  </message>
  <portType name="WebMethodRuntimeVoidCheck">
    <operation name="voidReturnMethod">
      <input message="tns:voidReturnMethod"/>
      <output message="tns:voidReturnMethodResponse"/>
    </operation>
    <operation name="echo">
      <input message="tns:echo"/>
      <output message="tns:echoResponse"/>
    </operation>
    <operation name="echoInt">
      <input message="tns:echoInt"/>
      <output message="tns:echoIntResponse"/>
    </operation>
    <operation name="echoModified">
      <input message="tns:echoModified"/>
      <output message="tns:echoModifiedResponse"/>
    </operation>
  </portType>
  <binding name="WebMethodRuntimeVoidCheckPortBinding" type="tns:WebMethodRuntimeVoidCheck">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="voidReturnMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echoInt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echoModified">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebMethodRuntimeVoidCheckService">
    <port name="WebMethodRuntimeVoidCheckPort" binding="tns:WebMethodRuntimeVoidCheckPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

