dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/saaj/server/etc/wsdl/SAAJService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:s0="http://ws.apache.org/saaj"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    targetNamespace="http://ws.apache.org/saaj" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.apache.org/saaj">
      <s:element name="saajString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inarg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saajStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saajStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>

  <message name="emptyMessage"/>
  <message name="saajStringSoapIn">
    <part name="parameters" element="s0:saajString" />
  </message>
  <message name="saajStringSoapOut">
    <part name="parameters" element="s0:saajStringResponse" />
  </message>

  <portType name="SAAJServiceInterface">
    <operation name="invoke">
      <input message="s0:saajStringSoapIn" />
      <output message="s0:saajStringSoapOut" />
    </operation>  
  </portType>

  <binding name="SAAJServiceSoap" type="s0:SAAJServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="invoke">
      <soap:operation soapAction="saajString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <portType name="SAAJServiceInterface1">
    <operation name="anyinvoke">
      <input message="s0:saajStringSoapIn" />
      <output message="s0:saajStringSoapOut" />
    </operation>  
  </portType>

  <binding name="SAAJServiceSoap1" type="s0:SAAJServiceInterface1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="anyinvoke">
      <soap:operation soapAction="saajString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="SAAJService">
    <port name="SAAJServicePort" binding="s0:SAAJServiceSoap">
      <soap:address location="http://localhost:9080/saajfvt/SAAJService" />
    </port>
  </service>

</definitions>
