dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/soapbinding/testdata/dd/server/wsdl/SoapBindAnno3ImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://server.testdata.soapbinding.annotations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="echodlb" nillable="true" type="xs:string"/>

  <xs:element name="echodlbReturn" nillable="true" type="xs:string"/>

  <xs:element name="echodlw" nillable="true" type="xs:string"/>

  <xs:element name="echodlwReturn" nillable="true" type="xs:string"/>
</xs:schema>

