dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webservice_g2/interfaces/etc/wsdl/tmp/InterfaceTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="iftest.interfaces.webservice_g2.annotations" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="iftest.interfaces.webservice_g2.annotations" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="iftest.interfaces.webservice_g2.annotations" schemaLocation="InterfaceTest_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="bareIfMethod">
    <part name="parameters" element="tns:bareIfMethod"/>
  </message>
  <message name="bareIfMethodResponse">
    <part name="parameters" element="tns:bareIfMethodResponse"/>
  </message>
  <message name="annoIfMethod">
    <part name="parameters" element="tns:annoIfMethod"/>
  </message>
  <message name="annoIfMethodResponse">
    <part name="parameters" element="tns:annoIfMethodResponse"/>
  </message>
  <message name="annoIfExcluded">
    <part name="parameters" element="tns:annoIfExcluded"/>
  </message>
  <message name="annoIfExcludedResponse">
    <part name="parameters" element="tns:annoIfExcludedResponse"/>
  </message>
  <portType name="InterfaceTest">
    <operation name="bareIfMethod">
      <input message="tns:bareIfMethod"/>
      <output message="tns:bareIfMethodResponse"/>
    </operation>
    <operation name="annoIfMethod">
      <input message="tns:annoIfMethod"/>
      <output message="tns:annoIfMethodResponse"/>
    </operation>
    <operation name="annoIfExcluded">
      <input message="tns:annoIfExcluded"/>
      <output message="tns:annoIfExcludedResponse"/>
    </operation>
  </portType>
</definitions>

