dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webserviceprovider/etc/wsdl/ProvFqService_opmismatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="annotations.webserviceprovider.fq" 
 name="ProvFqService" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:tns="annotations.webserviceprovider.fq" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">
 <!-- 
	the operation name (echox) mismatches what the client is going to send
     (echo).  We should get an error.
     
     3.20.2006 - revised element name from echo to echonot so we couldn't 
     unintentionally dispatch on that. 
     
-->     
  <types>

 <!-- schema patched for beta complextype problem -->
   <xs:schema version="1.0" targetNamespace="annotations.webserviceprovider.fq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="echonot"  xmlns:ns1="annotations.webserviceprovider.fq">
     <xs:complexType >
       <xs:sequence>
         <xs:element name="arg0" type="xs:string" minOccurs="0"/>
       </xs:sequence>
     </xs:complexType>
     </xs:element>

     <xs:element name="echoResponse" xmlns:ns2="annotations.webserviceprovider.fq">
     <xs:complexType >
       <xs:sequence>
         <xs:element name="return" type="xs:string" minOccurs="0"/>
       </xs:sequence>
     </xs:complexType>
     </xs:element>
     
    </xs:schema>
  </types>
  <message name="echo">
    <part name="parameters" element="tns:echonot"/>
  </message>
  <message name="echoResponse">
    <part name="parameters" element="tns:echoResponse"/>
  </message>
  <portType name="FqPort1">
    <operation name="echoxxxx">
      <input message="tns:echo"/>
      <output message="tns:echoResponse"/>
    </operation>
  </portType>
  <binding name="FqPortBinding" type="tns:FqPort1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echoxxxx">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProvFqService">
    <port name="FqPort" binding="tns:FqPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

