dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/doclit/etc/proxy_doclitmixed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://doclitmixed.wsfvt.doclit.proxy.jaxws"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proxy"
	targetNamespace="http://doclitmixed.wsfvt.doclit.proxy.jaxws">
	
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://doclitmixed.wsfvt.doclit.proxy.jaxws"
			xmlns:tns="http://doclitmixed.wsfvt.doclit.proxy.jaxws"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:element name="twoWay">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="twoway_str" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
			
			<xsd:element name="ReturnType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return_str" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>				

			<!-- some extra beans, used for Receive test case -->
			
			<xsd:element name="AnotherReturnType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return_str" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>				

			<xsd:element name="YetAnotherReturnType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return_str" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	

		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="empty" />
	
	<wsdl:message name="twoWayRequest">
		<wsdl:part name="allByMyself" element="tns:twoWay" />
	</wsdl:message>

	<wsdl:message name="twoWayResponse">
		<wsdl:part name="allByMyself" element="tns:ReturnType" />
	</wsdl:message>	

	<wsdl:message name="anotherRequest">
		<wsdl:part name="allByMyself" element="tns:AnotherReturnType" />
	</wsdl:message>

	<wsdl:message name="anotherResponse">
		<wsdl:part name="allByMyself" element="tns:YetAnotherReturnType" />
	</wsdl:message>	
	
	<wsdl:portType name="DocLitMixedProxy">

		<!-- this should generate doc/lit-wrapped SEI -->
		<wsdl:operation name="twoWay">
			<wsdl:input message="tns:twoWayRequest" />
			<wsdl:output message="tns:twoWayResponse" />
		</wsdl:operation>		

		<!-- this should generate doc/lit-bare SEI -->
		<wsdl:operation name="another">
			<wsdl:input message="tns:anotherRequest" />
			<wsdl:output message="tns:anotherResponse" />
		</wsdl:operation>
		
		<!-- this should generate doc/lit bare SEI -->
		<wsdl:operation name="twoWayEmpty">
			<wsdl:input message="tns:empty" />
			<wsdl:output message="tns:anotherResponse" />
		</wsdl:operation>			
			
	</wsdl:portType>
	
	<wsdl:binding name="ProxyDocLitMixed" type="tns:DocLitMixedProxy">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	
		<wsdl:operation name="twoWay">
			<soap:operation soapAction="twoWay" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
	
		</wsdl:operation>		
	
		<wsdl:operation name="another">
			<soap:operation soapAction="another" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
	
		</wsdl:operation>		
	
		<wsdl:operation name="twoWayEmpty">
			<soap:operation soapAction="twoWayEmpty" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
		</wsdl:operation>		
	
	</wsdl:binding>
	
	<wsdl:service name="ProxyDocLitMixedService">
		<wsdl:port binding="tns:ProxyDocLitMixed" name="ProxyDocLitMixedPort">
			<soap:address location="http://@HOST@:@PORT@/jwpr.doclit/services/ProxyDocLitMixedService" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>