dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/doclit/etc/proxy_doclit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://doclit.wsfvt.doclit.proxy.jaxws"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proxy"
	targetNamespace="http://doclit.wsfvt.doclit.proxy.jaxws">
	
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://doclit.wsfvt.doclit.proxy.jaxws"
			xmlns:tns="http://doclit.wsfvt.doclit.proxy.jaxws"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		
		<xsd:element name="String" type="xsd:string" />
		<xsd:element name="Integer" type="xsd:int" />		

		<xsd:element name="Composite">		
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="myElement" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<!-- basic fault test, this should be mapped into message part
		     of the generated faultBean
		  -->
		<xsd:element name="MyFault" type="xsd:string" />

		<!-- wrapper exception and polymorphic fault test
		     This bean should have an associated exception
		  -->
		<xsd:element name="MyBaseFaultBean" type="tns:BaseFault" />		

		<xsd:complexType name="BaseFault">
			<xsd:sequence>
				<xsd:element name="message" type="xsd:string" />
				<xsd:element name="error_code" type="xsd:int" />					
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="ExtendedFault">
			<xsd:complexContent>
			  <xsd:extension base="tns:BaseFault">
			    <xsd:sequence>
				<xsd:element name="another_message" type="xsd:string" />
				<xsd:element name="another_error_code" type="xsd:int" />					
			    </xsd:sequence>
              </xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>

		<!-- Having header parameters forces the proxy to become doc/lit bare
			 So the tests for headers are here
		 -->
		<xsd:element name="headerPart0">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="headerType" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="headerPart1">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="headerType" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="header">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string" />
					<xsd:element name="out" type="xsd:long" />
					<xsd:element name="inout" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="headerResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="out" type="xsd:long" />
					<xsd:element name="inout" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<!-- anyType test -->
		<xsd:element name="anyTypeRequest" type="xsd:anyType" />

		<xsd:element name="anyTypeResponse" type="xsd:anyType" />

		<!-- SOAPAction test, element does not match operation -->
		<xsd:element name="ping">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		

		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="headerRequest">
		<wsdl:part name="payload" element="tns:header" />
		<wsdl:part name="header0" element="tns:headerPart0" />
		<wsdl:part name="header1" element="tns:headerPart1" />
	</wsdl:message>

	<wsdl:message name="headerResponse">
		<wsdl:part name="payload" element="tns:headerResponse" />
		<wsdl:part name="header0" element="tns:headerPart0" />
	</wsdl:message>	
	
	<wsdl:message name="NoParam" />

	<wsdl:message name="SingleParam">
		<wsdl:part name="allByMyself" element="tns:String" />
	</wsdl:message>

	<wsdl:message name="SingleParamInt">
		<wsdl:part name="allByMyself" element="tns:Integer" />
	</wsdl:message>
	
	<wsdl:message name="SingleParamOther">
		<wsdl:part name="allByMyself" element="tns:Composite" />
	</wsdl:message>	

	<wsdl:message name="SimpleFault">
		<wsdl:part name="description" element="tns:MyFault" />	
	</wsdl:message>	

	<wsdl:message name="FaultBeanWithWrapper">
		<wsdl:part name="description" element="tns:MyBaseFaultBean" />	
	</wsdl:message>

	<wsdl:message name="AnyTypeRequest">
		<wsdl:part name="in" element="tns:anyTypeRequest" />	
	</wsdl:message>		

	<wsdl:message name="AnyTypeResponse">
		<wsdl:part name="out" element="tns:anyTypeResponse" />	
	</wsdl:message>	

	<wsdl:message name="Ping">
		<wsdl:part name="msg" element="tns:ping" />	
	</wsdl:message>	

	<wsdl:portType name="DocLitProxy">
		
		<wsdl:operation name="oneWayEmpty">
			<wsdl:input message="tns:NoParam" />
		</wsdl:operation>
		
		<wsdl:operation name="oneWay">
			<wsdl:input message="tns:SingleParam" />
		</wsdl:operation>		
		
		<wsdl:operation name="header">
			<wsdl:input message="tns:headerRequest" />
			<wsdl:output message="tns:headerResponse" />
		</wsdl:operation>			
		
		<wsdl:operation name="twoWaySimple">
			<wsdl:input message="tns:SingleParamInt" />
			<wsdl:output message="tns:SingleParam" />
		</wsdl:operation>
		
		<wsdl:operation name="soapAction">
			<wsdl:input message="tns:Ping" />
			<wsdl:output message="tns:Ping" />
		</wsdl:operation>		
		
		<wsdl:operation name="anyType">
			<wsdl:input message="tns:AnyTypeRequest" />
			<wsdl:output message="tns:AnyTypeResponse" />
		</wsdl:operation>		
		
		<wsdl:operation name="twoWayHolder">
			<wsdl:input message="tns:SingleParamOther" />
			<wsdl:output message="tns:SingleParamOther" />
			<wsdl:fault message="tns:SimpleFault" name="twoWayFault"/>
			<wsdl:fault message="tns:FaultBeanWithWrapper" name="wrapperFault"/>
		</wsdl:operation>
			
	</wsdl:portType>
	
	<wsdl:binding name="ProxyDocLit" type="tns:DocLitProxy">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="oneWayEmpty">
			<soap:operation soapAction="oneWayEmpty" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
		</wsdl:operation>
		
		<wsdl:operation name="oneWay">
			<soap:operation soapAction="oneWay" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
		</wsdl:operation>
		
		<wsdl:operation name="soapAction">
			<soap:operation soapAction="soapAction" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>		
		</wsdl:operation>
				
		<wsdl:operation name="twoWaySimple">
			<soap:operation soapAction="twoWaySimple" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
		</wsdl:operation>			
		
		<wsdl:operation name="anyType">
			<soap:operation soapAction="anyType" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
		</wsdl:operation>			
		
		<wsdl:operation name="header">
			<soap:operation
				soapAction="header" />
        
			<wsdl:input>
				<soap:header use="literal" message="tns:headerRequest" part="header0"/>			
				<soap:header use="literal" message="tns:headerRequest" part="header1"/>			
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="tns:headerResponse" part="header0"/>			
				<soap:body use="literal" parts="payload"/>			
			</wsdl:output>
		</wsdl:operation>		
		
		<wsdl:operation name="twoWayHolder">
			<soap:operation soapAction="twoWayHolder" />
			<wsdl:input>
				<soap:body use="literal"  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"  />
			</wsdl:output>
			<wsdl:fault name="twoWayFault">
				<soap:fault use="literal" name="twoWayFault" />
			</wsdl:fault>			
			<wsdl:fault name="wrapperFault">
				<soap:fault use="literal" name="wrapperFault" />
			</wsdl:fault>				
		</wsdl:operation>
		
	
	</wsdl:binding>
	
	<wsdl:service name="ProxyDocLitService">
		<wsdl:port binding="tns:ProxyDocLit" name="ProxyDocLitPort">
			<soap:address location="http://@HOST@:@PORT@/jwpr.doclit/services/ProxyDocLitService" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>