dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/javatypes/etc/proxy_javatypes_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://javatypes.wsfvt.javatypes.proxy.jaxws" name="ProxyJavaTypesService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://javatypes.wsfvt.javatypes.proxy.jaxws" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="proxy_javatypes_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://javatypes.wsfvt.javatypes.proxy.jaxws" schemaLocation="proxy_javatypes_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="pingString">
    <part name="parameters" element="tns:pingString"/>
  </message>
  <message name="pingStringResponse">
    <part name="parameters" element="tns:pingStringResponse"/>
  </message>
  <message name="pingInt">
    <part name="parameters" element="tns:pingInt"/>
  </message>
  <message name="pingIntResponse">
    <part name="parameters" element="tns:pingIntResponse"/>
  </message>
  <message name="pingInteger">
    <part name="parameters" element="tns:pingInteger"/>
  </message>
  <message name="pingIntegerResponse">
    <part name="parameters" element="tns:pingIntegerResponse"/>
  </message>
  <message name="pingChar">
    <part name="parameters" element="tns:pingChar"/>
  </message>
  <message name="pingCharResponse">
    <part name="parameters" element="tns:pingCharResponse"/>
  </message>
  <message name="pingLong">
    <part name="parameters" element="tns:pingLong"/>
  </message>
  <message name="pingLongResponse">
    <part name="parameters" element="tns:pingLongResponse"/>
  </message>
  <message name="pingEnum">
    <part name="parameters" element="tns:pingEnum"/>
  </message>
  <message name="pingEnumResponse">
    <part name="parameters" element="tns:pingEnumResponse"/>
  </message>
  <message name="pingEnumArray">
    <part name="parameters" element="tns:pingEnumArray"/>
  </message>
  <message name="pingEnumArrayResponse">
    <part name="parameters" element="tns:pingEnumArrayResponse"/>
  </message>
  <message name="pingArray">
    <part name="parameters" element="tns:pingArray"/>
  </message>
  <message name="pingArrayResponse">
    <part name="parameters" element="tns:pingArrayResponse"/>
  </message>
  <message name="ping2Darray">
    <part name="parameters" element="tns:ping2Darray"/>
  </message>
  <message name="ping2DarrayResponse">
    <part name="parameters" element="tns:ping2DarrayResponse"/>
  </message>
  <message name="pingList">
    <part name="parameters" element="tns:pingList"/>
  </message>
  <message name="pingListResponse">
    <part name="parameters" element="tns:pingListResponse"/>
  </message>
  <message name="pingArrayList">
    <part name="parameters" element="tns:pingArrayList"/>
  </message>
  <message name="pingArrayListResponse">
    <part name="parameters" element="tns:pingArrayListResponse"/>
  </message>
  <message name="pingSet">
    <part name="parameters" element="tns:pingSet"/>
  </message>
  <message name="pingSetResponse">
    <part name="parameters" element="tns:pingSetResponse"/>
  </message>
  <message name="pingVectorGeneric">
    <part name="parameters" element="tns:pingVectorGeneric"/>
  </message>
  <message name="pingVectorGenericResponse">
    <part name="parameters" element="tns:pingVectorGenericResponse"/>
  </message>
  <message name="pingVector">
    <part name="parameters" element="tns:pingVector"/>
  </message>
  <message name="pingVectorResponse">
    <part name="parameters" element="tns:pingVectorResponse"/>
  </message>
  <message name="pingVectorOfPojo">
    <part name="parameters" element="tns:pingVectorOfPojo"/>
  </message>
  <message name="pingVectorOfPojoResponse">
    <part name="parameters" element="tns:pingVectorOfPojoResponse"/>
  </message>
  <message name="pingDate">
    <part name="parameters" element="tns:pingDate"/>
  </message>
  <message name="pingDateResponse">
    <part name="parameters" element="tns:pingDateResponse"/>
  </message>
  <message name="pingGregorianCalendar">
    <part name="parameters" element="tns:pingGregorianCalendar"/>
  </message>
  <message name="pingGregorianCalendarResponse">
    <part name="parameters" element="tns:pingGregorianCalendarResponse"/>
  </message>
  <message name="pingJavaBean">
    <part name="parameters" element="tns:pingJavaBean"/>
  </message>
  <message name="pingJavaBeanResponse">
    <part name="parameters" element="tns:pingJavaBeanResponse"/>
  </message>
  <message name="pingJavaBeanPoly">
    <part name="parameters" element="tns:pingJavaBeanPoly"/>
  </message>
  <message name="pingJavaBeanPolyResponse">
    <part name="parameters" element="tns:pingJavaBeanPolyResponse"/>
  </message>
  <message name="pingOneWay">
    <part name="parameters" element="tns:pingOneWay"/>
  </message>
  <message name="pingOneWayResponse">
    <part name="parameters" element="tns:pingOneWayResponse"/>
  </message>
  <message name="pingWeirdoMethod">
    <part name="parameters" element="tns:pingWeirdoMethod"/>
  </message>
  <message name="pingWeirdoMethodResponse">
    <part name="parameters" element="tns:pingWeirdoMethodResponse"/>
  </message>
  <portType name="JavaTypesPort">
    <operation name="pingString">
      <input message="tns:pingString"/>
      <output message="tns:pingStringResponse"/>
    </operation>
    <operation name="pingInt">
      <input message="tns:pingInt"/>
      <output message="tns:pingIntResponse"/>
    </operation>
    <operation name="pingInteger">
      <input message="tns:pingInteger"/>
      <output message="tns:pingIntegerResponse"/>
    </operation>
    <operation name="pingChar">
      <input message="tns:pingChar"/>
      <output message="tns:pingCharResponse"/>
    </operation>
    <operation name="pingLong">
      <input message="tns:pingLong"/>
      <output message="tns:pingLongResponse"/>
    </operation>
    <operation name="pingEnum">
      <input message="tns:pingEnum"/>
      <output message="tns:pingEnumResponse"/>
    </operation>
    <operation name="pingEnumArray">
      <input message="tns:pingEnumArray"/>
      <output message="tns:pingEnumArrayResponse"/>
    </operation>
    <operation name="pingArray">
      <input message="tns:pingArray"/>
      <output message="tns:pingArrayResponse"/>
    </operation>
    <operation name="ping2Darray">
      <input message="tns:ping2Darray"/>
      <output message="tns:ping2DarrayResponse"/>
    </operation>
    <operation name="pingList">
      <input message="tns:pingList"/>
      <output message="tns:pingListResponse"/>
    </operation>
    <operation name="pingArrayList">
      <input message="tns:pingArrayList"/>
      <output message="tns:pingArrayListResponse"/>
    </operation>
    <operation name="pingSet">
      <input message="tns:pingSet"/>
      <output message="tns:pingSetResponse"/>
    </operation>
    <operation name="pingVectorGeneric">
      <input message="tns:pingVectorGeneric"/>
      <output message="tns:pingVectorGenericResponse"/>
    </operation>
    <operation name="pingVector">
      <input message="tns:pingVector"/>
      <output message="tns:pingVectorResponse"/>
    </operation>
    <operation name="pingVectorOfPojo">
      <input message="tns:pingVectorOfPojo"/>
      <output message="tns:pingVectorOfPojoResponse"/>
    </operation>
    <operation name="pingDate">
      <input message="tns:pingDate"/>
      <output message="tns:pingDateResponse"/>
    </operation>
    <operation name="pingGregorianCalendar">
      <input message="tns:pingGregorianCalendar"/>
      <output message="tns:pingGregorianCalendarResponse"/>
    </operation>
    <operation name="pingJavaBean">
      <input message="tns:pingJavaBean"/>
      <output message="tns:pingJavaBeanResponse"/>
    </operation>
    <operation name="pingJavaBeanPoly">
      <input message="tns:pingJavaBeanPoly"/>
      <output message="tns:pingJavaBeanPolyResponse"/>
    </operation>
    <operation name="pingOneWay">
      <input message="tns:pingOneWay"/>
      <output message="tns:pingOneWayResponse"/>
    </operation>
    <operation name="pingWeirdoMethod">
      <input message="tns:pingWeirdoMethod"/>
      <output message="tns:pingWeirdoMethodResponse"/>
    </operation>
  </portType>
  <binding name="JavaTypesPortBinding" type="tns:JavaTypesPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pingString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingInt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingInteger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingChar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingLong">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingEnum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingEnumArray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingArray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping2Darray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingArrayList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingVectorGeneric">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingVector">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingVectorOfPojo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingGregorianCalendar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingJavaBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingJavaBeanPoly">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingOneWay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingWeirdoMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProxyJavaTypesService">
    <port name="JavaTypesPort" binding="tns:JavaTypesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

