dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/javatypes/etc/proxy_javatypes_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://javatypes.wsfvt.javatypes.proxy.jaxws" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="proxy_javatypes_schema1.xsd"/>

  <xs:element name="pingOneWay" type="ns2:pingOneWay" xmlns:ns2="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingOneWay">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingOneWayResponse" type="ns3:pingOneWayResponse" xmlns:ns3="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingOneWayResponse"/>

  <xs:element name="pingInt" type="ns4:pingInt" xmlns:ns4="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingInt">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingIntResponse" type="ns5:pingIntResponse" xmlns:ns5="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingIntResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingJavaBeanPoly" type="ns6:pingJavaBeanPoly" xmlns:ns6="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingJavaBeanPoly">
    <xs:sequence>
      <xs:element name="arg0" type="ns7:customDerrivedType" minOccurs="0" xmlns:ns7="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customDerrivedType">
    <xs:complexContent>
      <xs:extension base="ns8:customComplexType" xmlns:ns8="http://javatypes.wsfvt.javatypes.proxy.jaxws">
        <xs:sequence>
          <xs:element name="middleInitial" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="customComplexType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingJavaBeanPolyResponse" type="ns9:pingJavaBeanPolyResponse" xmlns:ns9="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingJavaBeanPolyResponse">
    <xs:sequence>
      <xs:element name="return" type="ns10:customDerrivedType" minOccurs="0" xmlns:ns10="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingVectorOfPojo" type="ns11:pingVectorOfPojo" xmlns:ns11="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingVectorOfPojo">
    <xs:sequence>
      <xs:element name="arg0" type="ns12:customComplexType" maxOccurs="unbounded" minOccurs="0" xmlns:ns12="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingVectorOfPojoResponse" type="ns13:pingVectorOfPojoResponse" xmlns:ns13="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingVectorOfPojoResponse">
    <xs:sequence>
      <xs:element name="return" type="ns14:customComplexType" maxOccurs="unbounded" minOccurs="0" xmlns:ns14="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingList" type="ns15:pingList" xmlns:ns15="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingList">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingListResponse" type="ns16:pingListResponse" xmlns:ns16="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingListResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingSet" type="ns17:pingSet" xmlns:ns17="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingSet">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingSetResponse" type="ns18:pingSetResponse" xmlns:ns18="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingSetResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingGregorianCalendar" type="ns19:pingGregorianCalendar" xmlns:ns19="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingGregorianCalendar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingGregorianCalendarResponse" type="ns20:pingGregorianCalendarResponse" xmlns:ns20="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingGregorianCalendarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingEnum" type="ns21:pingEnum" xmlns:ns21="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingEnum">
    <xs:sequence>
      <xs:element name="arg0" type="ns22:colorENUM" minOccurs="0" xmlns:ns22="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingEnumResponse" type="ns23:pingEnumResponse" xmlns:ns23="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingEnumResponse">
    <xs:sequence>
      <xs:element name="return" type="ns24:colorENUM" minOccurs="0" xmlns:ns24="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingWeirdoMethod" type="ns25:pingWeirdoMethod" xmlns:ns25="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingWeirdoMethod">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingWeirdoMethodResponse" type="ns26:pingWeirdoMethodResponse" xmlns:ns26="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingWeirdoMethodResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingVector" type="ns27:pingVector" xmlns:ns27="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingVector">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingVectorResponse" type="ns28:pingVectorResponse" xmlns:ns28="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingVectorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ping2Darray" type="ns29:ping2Darray" xmlns:ns29="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="ping2Darray">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:stringArray" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ping2DarrayResponse" type="ns30:ping2DarrayResponse" xmlns:ns30="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="ping2DarrayResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:stringArray" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingChar" type="ns31:pingChar" xmlns:ns31="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingChar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingCharResponse" type="ns32:pingCharResponse" xmlns:ns32="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingCharResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingInteger" type="ns33:pingInteger" xmlns:ns33="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingInteger">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingIntegerResponse" type="ns34:pingIntegerResponse" xmlns:ns34="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingIntegerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingLong" type="ns35:pingLong" xmlns:ns35="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingLong">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingLongResponse" type="ns36:pingLongResponse" xmlns:ns36="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingLongResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingDate" type="ns37:pingDate" xmlns:ns37="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingDate">
    <xs:sequence>
      <xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingDateResponse" type="ns38:pingDateResponse" xmlns:ns38="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingDateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingVectorGeneric" type="ns39:pingVectorGeneric" xmlns:ns39="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingVectorGeneric">
    <xs:sequence>
      <xs:element name="arg0" type="xs:anyType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingVectorGenericResponse" type="ns40:pingVectorGenericResponse" xmlns:ns40="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingVectorGenericResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:anyType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingString" type="ns41:pingString" xmlns:ns41="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingString">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingStringResponse" type="ns42:pingStringResponse" xmlns:ns42="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingStringResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingJavaBean" type="ns43:pingJavaBean" xmlns:ns43="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingJavaBean">
    <xs:sequence>
      <xs:element name="arg0" type="ns44:customComplexType" minOccurs="0" xmlns:ns44="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingJavaBeanResponse" type="ns45:pingJavaBeanResponse" xmlns:ns45="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingJavaBeanResponse">
    <xs:sequence>
      <xs:element name="return" type="ns46:customComplexType" minOccurs="0" xmlns:ns46="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingArrayList" type="ns47:pingArrayList" xmlns:ns47="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingArrayList">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingArrayListResponse" type="ns48:pingArrayListResponse" xmlns:ns48="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingArrayListResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingEnumArray" type="ns49:pingEnumArray" xmlns:ns49="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingEnumArray">
    <xs:sequence>
      <xs:element name="arg0" type="ns50:colorENUM" maxOccurs="unbounded" minOccurs="0" xmlns:ns50="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingEnumArrayResponse" type="ns51:pingEnumArrayResponse" xmlns:ns51="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingEnumArrayResponse">
    <xs:sequence>
      <xs:element name="return" type="ns52:colorENUM" maxOccurs="unbounded" minOccurs="0" xmlns:ns52="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingArray" type="ns53:pingArray" xmlns:ns53="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingArray">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pingArrayResponse" type="ns54:pingArrayResponse" xmlns:ns54="http://javatypes.wsfvt.javatypes.proxy.jaxws"/>

  <xs:complexType name="pingArrayResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="colorENUM">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BLUE"/>
      <xs:enumeration value="GREEN"/>
      <xs:enumeration value="RED"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

