dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/mtom/mixedsetting/etc/wsdl/MtomOffProxySOAP12.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
   1.0   
 Change History:
 Date     UserId      Defect          Description
 09/25/06 jtnguyen    LIDB3402-07.01  New File
 02/01/07 jtnguyen    418353          Changed wsdlsoap to soap12
 03/16/07 jtnguyen    426965          Added import to use xmlmime.xsd

-->
<wsdl:definitions targetNamespace="http://org/test/mtom/MtomOffProxySOAP12"
    xmlns:impl="http://org/test/mtom/MtomOffProxySOAP12" 
    xmlns:intf="http://org/test/mtom/MtomOffProxySOAP12"
    xmlns:mtom="http://org/test/mtom/MtomOffProxySOAP12" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
    xmlns:tns="http://org/test/mtom/MtomOffProxySOAP12"
    targetNamespace="http://org/test/mtom/MtomOffProxySOAP12">
    <xs:import namespace="http://www.w3.org/2005/05/xmlmime"
               schemaLocation="xmlmime.xsd"/>
    <xs:complexType name="ImageDepot">
       <xs:sequence>
           <xs:element name="imageData" 
                       type="xs:base64Binary"
                       xmime:expectedContentTypes="multipart/*"/>
       </xs:sequence>
    </xs:complexType>
    
    <xs:element name="sendImage">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="input" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
    <xs:element name="sendImageResponse">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="output" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="sendImageRequest">
    <wsdl:part element="mtom:sendImage" name="parameters"/>
  </wsdl:message>
 
  <wsdl:message name="sendImageResponse">
    <wsdl:part element="mtom:sendImageResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="ImageServiceInterface">
    <wsdl:operation name="sendImage">
      <wsdl:input message="impl:sendImageRequest" name="sendImageRequest"/>
      <wsdl:output message="impl:sendImageResponse" name="sendImageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  

  <wsdl:binding name="ImageServiceSoap" type="impl:ImageServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="sendImage">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendImageRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendImageResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
       
  <wsdl:service name="MtomOffProxySOAP12Service">
    <wsdl:port binding="impl:ImageServiceSoap" name="AttachmentServicePort">
      <wsdlsoap:address location="http://localhost:9080/mtommixedsetting/MtomOffProxySOAP12Service"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>