dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webendpoint/testdata/WebEndpointTestImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://testdata.webendpoint.annotations/" name="WebEndpointTestImplService" xmlns:tns="http://testdata.webendpoint.annotations/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema version="1.0" targetNamespace="http://testdata.webendpoint.annotations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="echoi" type="ns1:echoi" xmlns:ns1="http://testdata.webendpoint.annotations/"/>

      <xs:complexType name="echoi">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="echoiResponse" type="ns2:echoiResponse" xmlns:ns2="http://testdata.webendpoint.annotations/"/>

      <xs:complexType name="echoiResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="echo" type="ns3:echo" xmlns:ns3="http://testdata.webendpoint.annotations/"/>

      <xs:complexType name="echo">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="echoResponse" type="ns4:echoResponse" xmlns:ns4="http://testdata.webendpoint.annotations/"/>

      <xs:complexType name="echoResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="echo">
    <part name="parameters" element="tns:echo"/>
  </message>
  <message name="echoResponse">
    <part name="parameters" element="tns:echoResponse"/>
  </message>
  <message name="echoi">
    <part name="parameters" element="tns:echoi"/>
  </message>
  <message name="echoiResponse">
    <part name="parameters" element="tns:echoiResponse"/>
  </message>
  <portType name="WebEndpointTestImpl">
    <operation name="echo">
      <input message="tns:echo"/>
      <output message="tns:echoResponse"/>
    </operation>
    <operation name="echoi">
      <input message="tns:echoi"/>
      <output message="tns:echoiResponse"/>
    </operation>
  </portType>
  <binding name="WebEndpointTestImplPortBinding" type="tns:WebEndpointTestImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echoi">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebEndpointTestImplService">
    <port name="WebEndpointTestImplPort" binding="tns:WebEndpointTestImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

