dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webresult/server/WebResultWsdlTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://server.webresult.annotations/" name="WebResultTestImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.webresult.annotations/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <!-- embedded from: C:/eclipse/WautoFVT/build/work/WebResultTestCase/fromjava/WebResultTestImplService_schema1.xsd-->
	<xs:schema version="1.0" targetNamespace="http://server.webresult.annotations/" xmlns:ns1="echo222ns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	  <xs:import namespace="echo222ns" schemaLocation="WebResultTestImplService_schema2.xsd"/>
	
	  <xs:element name="echo444" nillable="true" type="xs:string"/>
	
	  <xs:element name="echo444InvocationResult" nillable="true" type="xs:string"/>
	
	  <xs:element name="return" nillable="true" type="xs:string"/>
	
	  <xs:element name="echo111" type="ns2:echo111" xmlns:ns2="http://server.webresult.annotations/"/>
	
	  <xs:complexType name="echo111">
	    <xs:sequence>
	      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:element name="echo111Response" type="ns3:echo111Response" xmlns:ns3="http://server.webresult.annotations/"/>
	
	  <xs:complexType name="echo111Response">
	    <xs:sequence>
	      <xs:element name="echo111InvocationResult" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:element name="echo222" type="ns4:echo222" xmlns:ns4="http://server.webresult.annotations/"/>
	
	  <xs:complexType name="echo222">
	    <xs:sequence>
	      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:element name="echo222Response" type="ns5:echo222Response" xmlns:ns5="http://server.webresult.annotations/"/>
	
	  <xs:complexType name="echo222Response">
	    <xs:sequence>
	      <xs:element ref="ns1:return" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:element name="echo333" type="ns6:echo333" xmlns:ns6="http://server.webresult.annotations/"/>
	
	  <xs:complexType name="echo333">
	    <xs:sequence>
	      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:element name="echo333Response" type="ns7:echo333Response" xmlns:ns7="http://server.webresult.annotations/"/>
	
	  <xs:complexType name="echo333Response"/>
	</xs:schema>
	

    <!-- embedded from: C:/eclipse/WautoFVT/build/work/WebResultTestCase/fromjava/WebResultTestImplService_schema2.xsd-->
	<xs:schema version="1.0" targetNamespace="echo222ns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	  <xs:element name="return" type="xs:string"/>
	</xs:schema>
	

  </types>
  <message name="echo111">
    <part name="parameters" element="tns:echo111"/>
  </message>
  <message name="echo111Response">
    <part name="parameters" element="tns:echo111Response"/>
  </message>
  <message name="echo222">
    <part name="parameters" element="tns:echo222"/>
  </message>
  <message name="echo222Response">
    <part name="parameters" element="tns:echo222Response"/>
  </message>
  <message name="echo333">
    <part name="parameters" element="tns:echo333"/>
  </message>
  <message name="echo333Response">
    <part name="result" element="tns:echo333Response"/>
  </message>
  <message name="echo444">
    <part name="echo444" element="tns:echo444"/>
  </message>
  <message name="echo444Response">
    <part name="echo444result" element="tns:echo444InvocationResult"/>
  </message>
  <portType name="WebResultTestImpl">
    <operation name="echo111">
      <input message="tns:echo111"/>
      <output message="tns:echo111Response"/>
    </operation>
    <operation name="echo222">
      <input message="tns:echo222"/>
      <output message="tns:echo222Response"/>
    </operation>
    <operation name="echo333">
      <input message="tns:echo333"/>
      <output message="tns:echo333Response"/>
    </operation>
    <operation name="echo444">
      <input message="tns:echo444"/>
      <output message="tns:echo444Response"/>
    </operation>
  </portType>
  <binding name="WebResultTestImplPortBinding" type="tns:WebResultTestImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echo111">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echo222">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echo333">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal" parts="result"/>
      </output>
    </operation>
    <operation name="echo444">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebResultTestImplService">
    <port name="WebResultTestImplPort" binding="tns:WebResultTestImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

