dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/pk92392_contextroot/wsfvt/server/etc/wsdl/CalculatorSingleWSDLService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- single wsdl -->
<definitions targetNamespace="http://server.wsfvt.pk92392_contextroot.jaxws/" name="CalculatorSingleWSDLService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.wsfvt.pk92392_contextroot.jaxws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
<xs:schema version="1.0" targetNamespace="http://server.wsfvt.pk92392_contextroot.jaxws/" xmlns:tns="http://server.wsfvt.pk92392_contextroot.jaxws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calculate" type="tns:calculate"/>

  <xs:element name="calculateResponse" type="tns:calculateResponse"/>

  <xs:complexType name="calculate">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </types>
  <message name="calculate">
    <part name="parameters" element="tns:calculate"/>
  </message>
  <message name="calculateResponse">
    <part name="parameters" element="tns:calculateResponse"/>
  </message>
  <portType name="CalculatorSingleWSDL">
    <operation name="calculate">
      <input message="tns:calculate"/>
      <output message="tns:calculateResponse"/>
    </operation>
  </portType>
  <binding name="CalculatorSingleWSDLPortBinding" type="tns:CalculatorSingleWSDL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="calculate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorSingleWSDLService">
    <port name="CalculatorSingleWSDLPort" binding="tns:CalculatorSingleWSDLPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

