dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/mtom21/threshold/etc/wsdl/VerifyMTOMProxyServer.wsdl

<?xml version="1.0" encoding="utf-8"?>

<!-- 
 1.2, 1/7/09
 Change History:
 Date     UserId      Defect          Description
 03/10/08 jramos      LIDB4418-12.01  New File
 01/07/09 jramos      570088          Use xmlmime.xsd for schema import
-->

<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:s0="urn://VerifyMTOMProxyServer.mtom21.test.org"
    targetNamespace="urn://VerifyMTOMProxyServer.mtom21.test.org"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
  <types>
   <xs:schema elementFormDefault="qualified"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
    xmlns:tns="urn://VerifyMTOMProxyServer.mtom21.test.org"
    targetNamespace="urn://VerifyMTOMProxyServer.mtom21.test.org">
    
    <xs:import namespace="http://www.w3.org/2005/05/xmlmime"
               schemaLocation="xmlmime.xsd"/>
    <xs:complexType name="ImageDepot">
       <xs:sequence>
           <xs:element name="imageData" 
                       type="xs:base64Binary"                        
                       xmime:expectedContentTypes="image/jpeg"/>

       </xs:sequence>
    </xs:complexType>
    
    <xs:element name="invoke">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="input" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
    <xs:element name="sendImageResponse">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="output" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
   </xs:schema>
  </types>

  <message name="emptyMessage"/>
  <message name="sendImage">
    <part name="parameters" element="s0:invoke" />
  </message>
  <message name="sendImageResponse">
    <part name="parameters" element="s0:sendImageResponse" />
  </message>

  <portType name="ImageServiceInterface">
    <operation name="invoke">
      <input message="s0:sendImage" />
      <output message="s0:sendImageResponse" />
    </operation>  
  </portType>

  <binding name="ImageServiceSoap" type="s0:ImageServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="invoke">
      <soap:operation soapAction="sendImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="VerifyMTOMProxyServerThreshold">
    <port name="VerifyMTOMProxyServerThresholdPort" binding="s0:ImageServiceSoap">
      <soap:address location="http://localhost:9080/enablejaxb/EnableJAXBProxyImageJpegService" />
    </port>
  </service>

  <service name="VerifyMTOMProxyServerThresholdMTOMEnabledTrue">
    <port name="VerifyMTOMProxyServerThresholdMTOMEnabledTruePort" binding="s0:ImageServiceSoap">
      <soap:address location="http://localhost:9080/enablejaxb/EnableJAXBProxyImageJpegService" />
    </port>
  </service>

  <service name="VerifyMTOMProxyServerThresholdMTOMEnabledFalse">
    <port name="VerifyMTOMProxyServerThresholdMTOMEnabledFalsePort" binding="s0:ImageServiceSoap">
      <soap:address location="http://localhost:9080/enablejaxb/EnableJAXBProxyImageJpegService" />
    </port>
  </service>

</definitions>
