dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/rpclit/etc/proxy_rpclit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proxy"
	xmlns:tns="http://rpclit.wsfvt.rpclit.proxy.jaxws"
	targetNamespace="http://rpclit.wsfvt.rpclit.proxy.jaxws">
	
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://rpclit.wsfvt.rpclit.proxy.jaxws"
			xmlns:tns="http://rpclit.wsfvt.rpclit.proxy.jaxws"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

		<xsd:element name="MyFault" type="xsd:string" />

			<!-- definition for polymorphic tests-->

			<xsd:complexType name="FinancialOperation">
				<xsd:sequence>
					<xsd:element name="amount" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Withdraw">
			  <xsd:complexContent>
			    <xsd:extension base="tns:FinancialOperation">
			      <xsd:sequence>
			        <xsd:element name="memo" type="xsd:string" />
			      </xsd:sequence>
			    </xsd:extension>
			  </xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Deposit">
			  <xsd:complexContent>
			    <xsd:extension base="tns:FinancialOperation">
			      <xsd:sequence>
			        <xsd:element name="status" type="xsd:string" />
			      </xsd:sequence>
			     </xsd:extension>
			  </xsd:complexContent>
			</xsd:complexType>	

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="oneWayEmptyRequest" />

	<wsdl:message name="oneWayRequest">
		<wsdl:part name="allByMyself" type="xsd:string" />
	</wsdl:message>
	
	<wsdl:message name="twoWaySimpleRequest" />	
	
	<wsdl:message name="twoWaySimpleResponse">
		<wsdl:part name="allByMyself" type="xsd:string" />
	</wsdl:message>	
	
	<wsdl:message name="twoWayRequest">
		<wsdl:part name="myString" type="xsd:string" />
		<wsdl:part name="myInt" type="xsd:int" />		
	</wsdl:message>	

	<wsdl:message name="twoWayResponse">
		<wsdl:part name="allByMyself" type="xsd:string" />
	</wsdl:message>	

	<wsdl:message name="twoWayReturnRequest">
		<wsdl:part name="myString" type="xsd:string" />
		<wsdl:part name="myInt" type="xsd:int" />		
	</wsdl:message>	

	<wsdl:message name="twoWayReturnResponse">
		<wsdl:part name="myString" type="xsd:string" />
	</wsdl:message>	

	<wsdl:message name="twoWayInOutRequest">
		<wsdl:part name="ioString" type="xsd:string" />
		<wsdl:part name="ioInt" type="xsd:int" />		
	</wsdl:message>	
	
	<wsdl:message name="twoWayInOutResponse">
		<wsdl:part name="ioString" type="xsd:string" />
		<wsdl:part name="ioInt" type="xsd:int" />			
	</wsdl:message>		

	<wsdl:message name="SimpleFault">
		<wsdl:part name="description" element="tns:MyFault" />	
	</wsdl:message>

	<wsdl:message name="twoWayVoidRequest">
	</wsdl:message>	

	<wsdl:message name="twoWayVoidResponse">
	</wsdl:message>	
	
	<wsdl:message name="FinOpRequest">
		<wsdl:part name="request" type="tns:FinancialOperation" />	
	</wsdl:message>
	
	<wsdl:message name="FinOpResponse">
		<wsdl:part name="response" type="tns:FinancialOperation" />	
	</wsdl:message>		
	
	<wsdl:portType name="RpcLitProxy">
		<wsdl:operation name="oneWayEmpty">
			<wsdl:input message="tns:oneWayEmptyRequest" />
		</wsdl:operation>
		
		<wsdl:operation name="oneWay">
			<wsdl:input message="tns:oneWayRequest" />
		</wsdl:operation>		
		
		<!-- should generate T x() interface-->
		<wsdl:operation name="twoWaySimple">
			<wsdl:input  message="tns:twoWaySimpleRequest" />
			<wsdl:output message="tns:twoWaySimpleResponse" />
		</wsdl:operation>

		<!-- should generate T x(in Y) interface-->
		<wsdl:operation name="twoWay">
			<wsdl:input  name="multi" message="tns:twoWayRequest" />
			<wsdl:output  name="single"  message="tns:twoWayResponse" />
		</wsdl:operation>
		
		<!-- should generate T x(in Y, inout X) -->
		<wsdl:operation name="twoWayReturn">
			<wsdl:input  message="tns:twoWayReturnRequest" />
			<wsdl:output message="tns:twoWayReturnResponse" />
		</wsdl:operation>
		
		<!-- should generate void x(inout Y, inout X) -->
		<wsdl:operation name="twoWayInOut">
			<wsdl:input  message="tns:twoWayInOutRequest" />
			<wsdl:output message="tns:twoWayInOutResponse" />
			<wsdl:fault  message="tns:SimpleFault" name="twoWayFault"/>
		</wsdl:operation>
		
		<!-- should generate void x(void) -->
		<wsdl:operation name="twoWayVoid">
			<wsdl:input  message="tns:twoWayVoidRequest" />
			<wsdl:output message="tns:twoWayVoidResponse" />
		</wsdl:operation>
		
		<!-- test for polymorphic operations -->
		<wsdl:operation name="finop">
			<wsdl:input  message="tns:FinOpRequest" />
			<wsdl:output message="tns:FinOpResponse" />
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="ProxyRpcLit" type="tns:RpcLitProxy">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="oneWayEmpty">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/oneWayEmpty" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
		</wsdl:operation>
		
		<wsdl:operation name="oneWay">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/oneWay" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
		</wsdl:operation>
		
		<wsdl:operation name="twoWaySimple">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/twoWaySimple" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:output>
		</wsdl:operation>	

		<wsdl:operation name="twoWay">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/twoWay" />
			<wsdl:input name="multi">
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
			<wsdl:output name="single">
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:output>
		</wsdl:operation>
	
		<wsdl:operation name="twoWayReturn">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/twoWayReturn" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="twoWayInOut">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/twoWayInOut" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:output>
			<wsdl:fault name="twoWayFault">
				<soap:fault use="literal" name="twoWayFault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="twoWayVoid">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/twoWayVoid" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="finop">
			<soap:operation soapAction="http://rpclit.wsfvt.rpclit.proxy.jaxws/finop" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://rpclit.wsfvt.rpclit.proxy.jaxws" />
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	
	<wsdl:service name="ProxyRpcLitService">
		<wsdl:port binding="tns:ProxyRpcLit" name="ProxyRpcLitPort">
			<soap:address location="http://@HOST@:@PORT@/jwpr.rpclit/services/ProxyRpcLitService" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>