dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/proxy/javatypes_jar/etc/ProxyJavaTypesJarService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://javatypesjar.wsfvt.javatypesjar.proxy.jaxws" name="ProxyJavaTypesJarService" xmlns:tns="http://javatypesjar.wsfvt.javatypesjar.proxy.jaxws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://javatypesjar.wsfvt.javatypesjar.proxy.jaxws" schemaLocation="ProxyJavaTypesJarService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="pingString">
    <part name="parameters" element="tns:pingString"/>
  </message>
  <message name="pingStringResponse">
    <part name="parameters" element="tns:pingStringResponse"/>
  </message>
  <message name="pingInt">
    <part name="parameters" element="tns:pingInt"/>
  </message>
  <message name="pingIntResponse">
    <part name="parameters" element="tns:pingIntResponse"/>
  </message>
  <message name="pingJavaBean">
    <part name="parameters" element="tns:pingJavaBean"/>
  </message>
  <message name="pingJavaBeanResponse">
    <part name="parameters" element="tns:pingJavaBeanResponse"/>
  </message>
  <portType name="JavaTypesJarPort">
    <operation name="pingString">
      <input message="tns:pingString"/>
      <output message="tns:pingStringResponse"/>
    </operation>
    <operation name="pingInt">
      <input message="tns:pingInt"/>
      <output message="tns:pingIntResponse"/>
    </operation>
    <operation name="pingJavaBean">
      <input message="tns:pingJavaBean"/>
      <output message="tns:pingJavaBeanResponse"/>
    </operation>
  </portType>
  <binding name="JavaTypesJarPortBinding" type="tns:JavaTypesJarPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pingString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingInt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pingJavaBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProxyJavaTypesJarService">
    <port name="JavaTypesJarPort" binding="tns:JavaTypesJarPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

