dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/handlerchain/provider/etc/AddNumbersImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions 
	targetNamespace="http://server.provider.handlerchain.annotations/" 
	name="AddNumbersImplService" 
	xmlns:tns="http://server.provider.handlerchain.annotations/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
	<xs:schema version="1.0" targetNamespace="http://server.provider.handlerchain.annotations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	  <xs:element name="addNumbers" type="ns1:addNumbers" xmlns:ns1="http://server.provider.handlerchain.annotations/"/>
	
	  <xs:complexType name="addNumbers">
	    <xs:sequence>
	      <xs:element name="arg0" type="xs:int"/>
	      <xs:element name="arg1" type="xs:int"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:element name="addNumbersResponse" type="ns2:addNumbersResponse" xmlns:ns2="http://server.provider.handlerchain.annotations/"/>
	
	  <xs:complexType name="addNumbersResponse">
	    <xs:sequence>
	      <xs:element name="return" type="xs:int"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:schema>
  </types>
  <message name="addNumbers">
    <part name="parameters" element="tns:addNumbers"/>
  </message>
  <message name="addNumbersResponse">
    <part name="parameters" element="tns:addNumbersResponse"/>
  </message>
  <portType name="AddNumbersImpl">
    <operation name="addNumbers">
      <input message="tns:addNumbers"/>
      <output message="tns:addNumbersResponse"/>
    </operation>
  </portType>
  <binding name="AddNumbersImplPortBinding" type="tns:AddNumbersImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddNumbersImplService">
    <port name="AddNumbersImplPort" binding="tns:AddNumbersImplPortBinding">
      <soap:address location="http://localhost:9090/handlerChainProvider/handlerChainProvider" />
    </port>
  </service>
</definitions>

