dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxb/types/etc/wsdl/war1/wsdl/MathV1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   WARNING!!! DO NOT COPY OR DISTRIBUTE!  THIS IS A CUSTOMER XSD!!!
 
    Generated by WBXMLIntGen V1.9 BETA on 8/30/2006 3:20:21 PM
   
   1.1, 2/10/07
   
   Change History:
   Date        UserId         Feature/Defect          Description
   11/02/2006  ulbricht       420151                  New File
-->
<xs:schema 
        targetNamespace="http://v1x0.math.message.ts.wachovia.net/" 
        xmlns:mathmessage="http://v1x0.math.message.ts.wachovia.net/" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Comment describing your request and response</xs:documentation>
    </xs:annotation>
    <xs:element name="MultiplyNumbersRequest">
        <xs:annotation>
            <xs:documentation>Document your request here</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FirstNumber" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation>Document all elements with annotations!</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SecondNumber" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation>Document all elements with annotations!</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MultiplyNumbersResponse">
        <xs:annotation>
            <xs:documentation>Document your response here</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Result" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation>Document all elements with annotations!</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
