dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxb/types/etc/wsdl/war1/wsdl/WachoviaRequestHeaderV1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   WARNING!!! DO NOT COPY OR DISTRIBUTE!  THIS IS A CUSTOMER XSD!!!
 
   1.1, 2/10/07
   
   Change History:
   Date        UserId         Feature/Defect          Description
   11/02/2006  ulbricht       420151                  New File
-->
<!-- -->
<!-- Copyright 2004 Wachovia Bank. All rights reserved.-->
<!---->
<!-- BEGIN CHANGE HISTORY:-->
<!-- 03-05-2004~Chris K. Brown~Original Publication-->
<!-- 03-17-2004~Chris K. Brown~Added the soap attributes to the Header elements to allow mustUnderstand and actor attributes to be used.-->
<!-- 05-26-2004~Chris K. Brown~Removed the soap attributes to the Header elements to allow mustUnderstand and actor attributes to be used.-->
<!-- 05-26-2004~Chris K. Brown~Changed the version string from 1.0 to V1x0 for better J2EE integration.-->
<!-- 05-26-2004~Chris K. Brown~Changed the processing mode strings to use underscorrs instead of the spaces-->
<!-- 07-20-2004-Jonathan Savage-Breakup headers. -->
<!-- 09-07-2004-Jonathan Savage-Add AuditData structure and DestinationAction field, remove EchoData, remove max length on message id. -->
<!-- 02-16-2006-Jonathan Savage-Add annotations to comply with WBXML. -->
<!-- END CHANGE HISTORY-->
<!--    Generated by WBXMLIntGen V1.9 BETA on 8/30/2006 3:20:21 PM -->
<!-- -->
<xs:schema targetNamespace="http://v1x1.requestheader.wbxml.ts.wachovia.net/" elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:requestheader="http://v1x1.requestheader.wbxml.ts.wachovia.net/">
    <xs:annotation>
         <xs:documentation>This schema contains the WachoviaRequestHeader, as described by WBXML 2.1</xs:documentation>
     </xs:annotation>
	<xs:element name="WachoviaRequestHeader">
    <xs:annotation>
         <xs:documentation>The request header must be declared in the service description on the request message. It must also be present on every request message.</xs:documentation>
     </xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SendingTimeStamp" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>The precise date and time that message is sent by the originating system. Based upon GMT to the millisecond.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DestinationSystem" type="xs:string">
					<xs:annotation>
						<xs:documentation>The name of the system that the message is ultimately intended for, using the Wachovia based code for the system name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OriginationSystem" type="xs:string">
					<xs:annotation>
						<xs:documentation>The name of the system that originated the message, using the Wachovia code or acronym. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IntermediarySystem" type="requestheader:IntermediaryType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The name of the system that acts an intermediary for the origination system , including the Wachovia code or acronym.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MessageID">
					<xs:annotation>
						<xs:documentation>A UUID that uniquely identifies the message. This field will help uniquely identify each message for debug and logging purposes.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AuditData" type="requestheader:AuditDataType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Enables the client to send data to the service that the service can audit.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DestinationAction" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This field is used to carry the SOAPAction value when it is not possible to pass this at a transport level. THIS FIELD SHOULD NOT NORMALLY BE USED!</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IntermediaryType">
        <xs:annotation>
		    <xs:documentation>Data from any intermediaries processing the message</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="System" type="xs:string">
		        <xs:annotation>
					<xs:documentation>Name of the system that is the intermediary, using the same naming conventions in place for the client and server</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeStamp" type="xs:dateTime" minOccurs="0">
		        <xs:annotation>
					<xs:documentation>The precise date and time that message intercepted by the intermediary system. Based upon UTC to the millisecond.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditDataType">
        <xs:annotation>
		    <xs:documentation>Data representing keys that may be used to tie several independent messages together within an audit log. It is not expected that the messages support state to tie a client interaction ID between service invocations together</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClientInteractionID" type="xs:string" minOccurs="0">
		        <xs:annotation>
					<xs:documentation>A string representing a key that may be used to tie several independent messages together within an audit log. It is not expected that the messages support state to tie a client interaction ID between service invocations together</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionId" type="xs:string" minOccurs="0">
		        <xs:annotation>
					<xs:documentation>A string representing a key that may be used to identify a specific user interaction, ideally from end to end.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherAuditData" type="xs:string" minOccurs="0">
		        <xs:annotation>
					<xs:documentation>Other data that the client wishes the service to audit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
