dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/reqrespwrappers/server/W2JWrapperCheck2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
This is identical to W2JWrapperCheck.wsdl, except that the namespace of the
the elements for the echo1 method have been changed so that they are not defaulted to
the namespace of the SEI.  This should force RequestWrapper and ResponseWrapper annotations
to be included on the generated java method, unless the implementation decides to make it bare
instead. 
-->
<definitions targetNamespace="http://server.reqrespwrappers.annotations/"
 name="W2JWrapperCheck2Service" 
 xmlns:tns="http://server.reqrespwrappers.annotations/" 
 xmlns:tns2="http://echo1.server.reqrespwrappers.annotations/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>

     <!-- from schema1.xsd -->
       <xs:schema version="1.0" targetNamespace="http://echo1.server.reqrespwrappers.annotations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

         <xs:element name="echo1" type="ns1:echo1" xmlns:ns1="http://echo1.server.reqrespwrappers.annotations/"/>

         <xs:complexType name="echo1">
           <xs:sequence>
             <xs:element name="arg0" type="xs:string" minOccurs="0"/>
           </xs:sequence>
         </xs:complexType>

         <xs:element name="echo1Response" type="ns2:echo1Response" xmlns:ns2="http://echo1.server.reqrespwrappers.annotations/"/>

         <xs:complexType name="echo1Response">
           <xs:sequence>
             <xs:element name="return" type="xs:string" minOccurs="0"/>
           </xs:sequence>
         </xs:complexType>
       </xs:schema>

    <!-- from schema2.xsd -->
       <xs:schema version="1.0" targetNamespace="annotations.reqrespwrappers.server2resp" xmlns:xs="http://www.w3.org/2001/XMLSchema">

         <xs:element name="notresponse" type="ns1:notresponse" xmlns:ns1="annotations.reqrespwrappers.server2resp"/>

         <xs:complexType name="notresponse">
           <xs:sequence>
             <xs:element name="return" type="xs:string" minOccurs="0"/>
           </xs:sequence>
         </xs:complexType>
       </xs:schema>

    <!-- from schema3.xsd
       <xsd:schema>
         <xsd:import namespace="annotations.reqrespwrappers.server2req" schemaLocation="J2WWrapperCheckService_schema3.xsd"/>
       </xsd:schema>
    -->
      <xs:schema version="1.0" targetNamespace="annotations.reqrespwrappers.server2req" xmlns:xs="http://www.w3.org/2001/XMLSchema">

        <xs:element name="notarg0" type="ns1:notarg0" xmlns:ns1="annotations.reqrespwrappers.server2req"/>

        <xs:complexType name="notarg0">
          <xs:sequence>
            <xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:schema>

  </types>


  <message name="echo1">
    <part name="parameters" element="tns2:echo1"/>
  </message>
  <message name="echo1Response">
    <part name="parameters" element="tns2:echo1Response"/>
  </message>
  <message name="echo2">
    <part name="parameters" element="ns1:notarg0" xmlns:ns1="annotations.reqrespwrappers.server2req"/>
  </message>
  <message name="echo2Response">
    <part name="parameters" element="ns2:notresponse" xmlns:ns2="annotations.reqrespwrappers.server2resp"/>
  </message>
  <portType name="W2JWrapperCheck2">
    <operation name="echo1">
      <input message="tns:echo1"/>
      <output message="tns:echo1Response"/>
    </operation>
    <operation name="echo2">
      <input message="tns:echo2"/>
      <output message="tns:echo2Response"/>
    </operation>
  </portType>
  <binding name="W2JWrapperCheck2PortBinding" type="tns:W2JWrapperCheck2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echo1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echo2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="W2JWrapperCheck2Service">
    <port name="W2JWrapperCheck2Port" binding="tns:W2JWrapperCheck2PortBinding">
      <soap:address location="tbd"/>
    </port>
  </service>
</definitions>

