dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webmethod_g2/runtime/etc/wsdl/WebMethodLegacyCheckService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
   This wsdl is accessed by the clients so we can 
   avoid validation against the generated wsdl on the server.
   It should not be packaged with any apps.    
-->
<definitions targetNamespace="http://server.runtime.webmethod_g2.annotations/" name="WebMethodLegacyCheckService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.runtime.webmethod_g2.annotations/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.runtime.webmethod_g2.annotations/" schemaLocation="WebMethodLegacyCheckService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="echoanno">
    <part name="parameters" element="tns:echoanno"/>
  </message>
  <message name="echoannoResponse">
    <part name="parameters" element="tns:echoannoResponse"/>
  </message>
  <message name="echonoanno">
    <part name="parameters" element="tns:echonoanno"/>
  </message>
  <message name="echonoannoResponse">
    <part name="parameters" element="tns:echonoannoResponse"/>
  </message>
  <message name="webMethodStatic">
    <part name="parameters" element="tns:webMethodStatic"/>
  </message>
  <message name="webMethodStaticResponse">
    <part name="parameters" element="tns:webMethodStaticResponse"/>
  </message>
  <message name="webMethodFinal">
    <part name="parameters" element="tns:webMethodFinal"/>
  </message>
  <message name="webMethodFinalResponse">
    <part name="parameters" element="tns:webMethodFinalResponse"/>
  </message>
  <portType name="WebMethodLegacyCheck">
    <operation name="echoanno">
      <input wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/echoannoRequest" message="tns:echoanno"/>
      <output wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/echoannoResponse" message="tns:echoannoResponse"/>
    </operation>
    <operation name="echonoanno">
      <input wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/echonoannoRequest" message="tns:echonoanno"/>
      <output wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/echonoannoResponse" message="tns:echonoannoResponse"/>
    </operation>
    <operation name="webMethodStatic">
      <input wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/webMethodStaticRequest" message="tns:webMethodStatic"/>
      <output wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/webMethodStaticResponse" message="tns:webMethodStaticResponse"/>
    </operation>
    <operation name="webMethodFinal">
      <input wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/webMethodFinalRequest" message="tns:webMethodFinal"/>
      <output wsam:Action="http://server.runtime.webmethod_g2.annotations/WebMethodLegacyCheck/webMethodFinalResponse" message="tns:webMethodFinalResponse"/>
    </operation>
  </portType>
  <binding name="WebMethodLegacyCheckPortBinding" type="tns:WebMethodLegacyCheck">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echoanno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echonoanno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="webMethodStatic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="webMethodFinal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebMethodLegacyCheckService">
    <port name="WebMethodLegacyCheckPort" binding="tns:WebMethodLegacyCheckPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

