dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/badprovider/etc/template-soap11-wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="@namespace@"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="provider"
	targetNamespace="@namespace@">
	<wsdl:types>
		<xsd:schema
			targetNamespace="@namespace@"
			xmlns:tns="@namespace@"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="StringArray">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:string"
						minOccurs="0" maxOccurs="unbounded" />

				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="oneWay" type="tns:StringArray" />
			<xsd:element name="twoWay" type="tns:StringArray" />
			<xsd:element name="twoWayResponse" type="tns:StringArray" />

			<xsd:element name="oneWayException" type="xsd:string" />
			<xsd:element name="twoWayException" type="xsd:string" />
			<xsd:element name="twoWayExceptionResponse"
				type="xsd:string" />
			<xsd:element name="twoWayExceptionFault" type="xsd:string" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="oneWayRequest">
		<wsdl:part name="oneWayRequest" element="tns:oneWay" />
	</wsdl:message>
	<wsdl:message name="twoWayResponse">
		<wsdl:part name="twoWayResponse" element="tns:twoWayResponse" />
	</wsdl:message>
	<wsdl:message name="twoWayRequest">
		<wsdl:part name="twoWayRequest" element="tns:twoWay" />
	</wsdl:message>
	<wsdl:message name="oneWayExceptionRequest">
		<wsdl:part name="oneWayExceptionRequest"
			element="tns:oneWayException" />
	</wsdl:message>
	<wsdl:message name="twoWayExceptionRequest">
		<wsdl:part name="twoWayExceptionRequest"
			element="tns:twoWayException" />
	</wsdl:message>
	<wsdl:message name="twoWayExceptionResponse">
		<wsdl:part name="twoWayExceptionResponse"
			element="tns:twoWayExceptionResponse" />
	</wsdl:message>
	<wsdl:message name="twoWayExceptiontwoWayFault">
		<wsdl:part name="twoWayExceptiontwoWayFault"
			element="tns:twoWayExceptionFault" />
	</wsdl:message>

	<wsdl:portType name="ProviderPortType">		<wsdl:operation name="oneWay">
			<wsdl:input message="tns:oneWayRequest" />
		</wsdl:operation>
		<wsdl:operation name="twoWay">
			<wsdl:input message="tns:twoWayRequest" />
			<wsdl:output message="tns:twoWayResponse" />
		</wsdl:operation>
		<wsdl:operation name="oneWayException">
			<wsdl:input message="tns:oneWayExceptionRequest" />
		</wsdl:operation>
		<wsdl:operation name="twoWayException">
			<wsdl:input message="tns:twoWayExceptionRequest" />
			<wsdl:output message="tns:twoWayExceptionResponse" />
			<wsdl:fault name="twoWayFault"
				message="tns:twoWayExceptiontwoWayFault" />

		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProviderSOAP" type="tns:ProviderPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />		<wsdl:operation name="oneWay">			<soap:operation
				soapAction="@namespace@/oneWay" />
			<wsdl:input>
				<soap:body use="literal" parts=" oneWayRequest" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="twoWay">
			<soap:operation
				soapAction="@namespace@/twoWay" />
			<wsdl:input>
				<soap:body use="literal" parts=" twoWayRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts=" twoWayResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oneWayException">
			<soap:operation
				soapAction="@namespace@/oneWayException" />
			<wsdl:input>
				<soap:body use="literal"
					parts=" oneWayExceptionRequest" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="twoWayException">
			<soap:operation
				soapAction="@namespace@/twoWayException" />
			<wsdl:input>
				<soap:body use="literal"
					parts=" twoWayExceptionRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="twoWayFault">
				<soap:fault use="literal" name="twoWayFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="@test-name@Service">
		<wsdl:port binding="tns:ProviderSOAP" name="@test-name@Port">
			<soap:address
				location="http://@HOST@:@PORT@/@base-test-name@.@test-name@/services/@test-name@Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
