dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webmethod/testdata/WebMethodDefaults2Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://testdata.webmethod.annotations/" name="WebMethodDefaults2Service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://testdata.webmethod.annotations/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema version="1.0" targetNamespace="http://testdata.webmethod.annotations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="getsomething" type="ns1:getsomething" xmlns:ns1="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="getsomething">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="getsomethingResponse" type="ns2:getsomethingResponse" xmlns:ns2="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="getsomethingResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="Exception" type="ns3:Exception" xmlns:ns3="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="someAnno" type="ns4:someAnno" xmlns:ns4="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="someAnno">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="someAnnoResponse" type="ns5:someAnnoResponse" xmlns:ns5="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="someAnnoResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="getBinding" type="ns6:getBinding" xmlns:ns6="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="getBinding">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="getBindingResponse" type="ns7:getBindingResponse" xmlns:ns7="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="getBindingResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="defaultAnno" type="ns8:defaultAnno" xmlns:ns8="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="defaultAnno">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="defaultAnnoResponse" type="ns9:defaultAnnoResponse" xmlns:ns9="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="defaultAnnoResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="annotatedfullAnno" type="ns10:annotatedfullAnno" xmlns:ns10="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="annotatedfullAnno">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="annotatedfullAnnoResponse" type="ns11:annotatedfullAnnoResponse" xmlns:ns11="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="annotatedfullAnnoResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="putsomething" type="ns12:putsomething" xmlns:ns12="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="putsomething">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="putsomethingResponse" type="ns13:putsomethingResponse" xmlns:ns13="http://testdata.webmethod.annotations/"/>

      <xs:complexType name="putsomethingResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="defaultAnno">
    <part name="parameters" element="tns:defaultAnno"/>
  </message>
  <message name="defaultAnnoResponse">
    <part name="parameters" element="tns:defaultAnnoResponse"/>
  </message>
  <message name="Exception">
    <part name="Exception" element="tns:Exception"/>
  </message>
  <message name="annotatedfullAnno">
    <part name="parameters" element="tns:annotatedfullAnno"/>
  </message>
  <message name="annotatedfullAnnoResponse">
    <part name="parameters" element="tns:annotatedfullAnnoResponse"/>
  </message>
  <message name="someAnno">
    <part name="parameters" element="tns:someAnno"/>
  </message>
  <message name="someAnnoResponse">
    <part name="parameters" element="tns:someAnnoResponse"/>
  </message>
  <message name="getsomething">
    <part name="parameters" element="tns:getsomething"/>
  </message>
  <message name="getsomethingResponse">
    <part name="parameters" element="tns:getsomethingResponse"/>
  </message>
  <message name="putsomething">
    <part name="parameters" element="tns:putsomething"/>
  </message>
  <message name="putsomethingResponse">
    <part name="parameters" element="tns:putsomethingResponse"/>
  </message>
  <message name="getBinding">
    <part name="parameters" element="tns:getBinding"/>
  </message>
  <message name="getBindingResponse">
    <part name="parameters" element="tns:getBindingResponse"/>
  </message>
  <portType name="WebMethodDefaults2">
    <operation name="defaultAnno">
      <input message="tns:defaultAnno"/>
      <output message="tns:defaultAnnoResponse"/>
      <fault name="Exception" message="tns:Exception"/>
    </operation>
    <operation name="annotatedfullAnno">
      <input message="tns:annotatedfullAnno"/>
      <output message="tns:annotatedfullAnnoResponse"/>
      <fault name="Exception" message="tns:Exception"/>
    </operation>
    <operation name="someAnno">
      <input message="tns:someAnno"/>
      <output message="tns:someAnnoResponse"/>
      <fault name="Exception" message="tns:Exception"/>
    </operation>
    <operation name="getsomething">
      <input message="tns:getsomething"/>
      <output message="tns:getsomethingResponse"/>
      <fault name="Exception" message="tns:Exception"/>
    </operation>
    <operation name="putsomething">
      <input message="tns:putsomething"/>
      <output message="tns:putsomethingResponse"/>
      <fault name="Exception" message="tns:Exception"/>
    </operation>
    <operation name="getBinding">
      <input message="tns:getBinding"/>
      <output message="tns:getBindingResponse"/>
      <fault name="Exception" message="tns:Exception"/>
    </operation>
  </portType>
  <binding name="WebMethodDefaults2PortBinding" type="tns:WebMethodDefaults2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="defaultAnno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="annotatedfullAnno">
      <soap:operation soapAction="idunno"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="someAnno">
      <soap:operation soapAction="idunno"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getsomething">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="putsomething">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getBinding">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WebMethodDefaults2Service">
    <port name="WebMethodDefaults2Port" binding="tns:WebMethodDefaults2PortBinding">
      <soap:address location="tbd"/>
    </port>
  </service>
</definitions>

