dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/faultbean/etc/wsdl/AddNumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddNumbers" targetNamespace="http://server.wsfvt.faultbean/" xmlns:ns1="http://server.wsfvt.faultbean" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.wsfvt.faultbean/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.wsfvt.faultbean/" xmlns:tns="http://server.wsfvt.faultbean/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addNegatives" type="tns:addNegatives"/>
  <xs:element name="addNegativesResponse" type="tns:addNegativesResponse"/>
  <xs:element name="addNumbers" type="tns:addNumbers"/>
  <xs:element name="addNumbersResponse" type="tns:addNumbersResponse"/>
  <xs:element name="useAnno" type="tns:useAnno"/>
  <xs:element name="useAnnoResponse" type="tns:useAnnoResponse"/>
  <xs:complexType name="addNegatives">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNegativesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="useAnno">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="useAnnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbers">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNumbersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalName" type="tns:LocalName"/>
  <xs:complexType name="LocalName">
    <xs:sequence>
      <xs:element name="info" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNumbersException" type="tns:AddNumbersException"/>
  <xs:complexType name="AddNumbersException">
    <xs:sequence>
      <xs:element name="info" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema><xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.wsfvt.faultbean" xmlns:tns="http://server.wsfvt.faultbean" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AnnoException" type="tns:AnnoException"/>
  <xsd:complexType name="AnnoException">
    <xsd:sequence>
      <xsd:element name="info" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>  </wsdl:types>
  <wsdl:message name="addNegatives">
    <wsdl:part element="tns:addNegatives" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNegativesResponse">
    <wsdl:part element="tns:addNegativesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbers">
    <wsdl:part element="tns:addNumbers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNumbersResponse">
    <wsdl:part element="tns:addNumbersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="useAnno">
    <wsdl:part element="tns:useAnno" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddNumbersException">
    <wsdl:part element="tns:AddNumbersException" name="AddNumbersException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="useAnnoResponse">
    <wsdl:part element="tns:useAnnoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AnnoException">
    <wsdl:part element="ns1:AnnoException" name="AnnoException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddNegativesException">
    <wsdl:part element="tns:LocalName" name="AddNegativesException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddNumbers">
    <wsdl:operation name="addNegatives">
      <wsdl:input message="tns:addNegatives" name="addNegatives">
    </wsdl:input>
      <wsdl:output message="tns:addNegativesResponse" name="addNegativesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AddNegativesException" name="AddNegativesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="useAnno">
      <wsdl:input message="tns:useAnno" name="useAnno">
    </wsdl:input>
      <wsdl:output message="tns:useAnnoResponse" name="useAnnoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AnnoException" name="AnnoException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers">
      <wsdl:input message="tns:addNumbers" name="addNumbers">
    </wsdl:input>
      <wsdl:output message="tns:addNumbersResponse" name="addNumbersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AddNumbersException" name="AddNumbersException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddNumbersSoapBinding" type="tns:AddNumbers">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addNegatives">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addNegatives">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNegativesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddNegativesException">
        <soap:fault name="AddNegativesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="useAnno">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="useAnno">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="useAnnoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AnnoException">
        <soap:fault name="AnnoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNumbers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addNumbers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNumbersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddNumbers">
    <wsdl:port binding="tns:AddNumbersSoapBinding" name="AddNumbersPort">
      <soap:address location="http://localhost:8010/FaultBean/AddNumbers"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>