dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxwsejbinwar/server/wsdl/EjbInWarLibHelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. -->
<definitions targetNamespace="http://server.jaxwsejbinwar/" name="EjbInWarLibHelloService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.jaxwsejbinwar/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.jaxwsejbinwar/" schemaLocation="EjbInWarLibHelloService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="callAnotherHello">
    <part name="parameters" element="tns:callAnotherHello"/>
  </message>
  <message name="callAnotherHelloResponse">
    <part name="parameters" element="tns:callAnotherHelloResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="callAnotherUsingServiceRef">
    <part name="parameters" element="tns:callAnotherUsingServiceRef"/>
  </message>
  <message name="callAnotherUsingServiceRefResponse">
    <part name="parameters" element="tns:callAnotherUsingServiceRefResponse"/>
  </message>
  <portType name="EjbInWarLibHello">
    <operation name="hello">
      <input wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="callAnotherHello">
      <input wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/callAnotherHelloRequest" message="tns:callAnotherHello"/>
      <output wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/callAnotherHelloResponse" message="tns:callAnotherHelloResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/callAnotherHello/Fault/Exception"/>
    </operation>
    <operation name="callAnotherUsingServiceRef">
      <input wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/callAnotherUsingServiceRefRequest" message="tns:callAnotherUsingServiceRef"/>
      <output wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/callAnotherUsingServiceRefResponse" message="tns:callAnotherUsingServiceRefResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://server.jaxwsejbinwar/EjbInWarLibHello/callAnotherUsingServiceRef/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="EjbInWarLibHelloPortBinding" type="tns:EjbInWarLibHello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callAnotherHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="callAnotherUsingServiceRef">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EjbInWarLibHelloService">
    <port name="EjbInWarLibHelloPort" binding="tns:EjbInWarLibHelloPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

