dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webservice/testdata/WebServiceTestDerivedJava1.wsdl

<!-- the elmer fudd service, pass any string to whatsupdoc, receive "cwazywabbit" + string 
  should map to a @webservice annotation in Fuddporttype.java like this:
     name= porttype = elmerfudd
     targetnamespace= fuddns
     serviceName    = fuddService
     wsdllocation   = relative location
     portName       = elmerfudd1
     
     w2j will generate the ep interface, but not the class.  You have to write that. 
     
     
-->

<definitions targetNamespace="fuddns" name="fuddService"
  xmlns:tns="fuddns"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
>


<types>

      <xs:schema version="1.0" targetNamespace="fuddns"
       xmlns:xs="http://www.w3.org/2001/XMLSchema">
       
        <!-- the xmlns: decl is required on element name, and has to match the tns in 
         	the schema decl above.
        -->
        <xs:element name="askfudd" type="ns1:askfudd1" xmlns:ns1="fuddns" />
        <xs:complexType name="askfudd1">
          <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>

        <xs:element name="fuddweply" type="ns2:fuddweply1" xmlns:ns2="fuddns" />

        <xs:complexType name="fuddweply1">
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:schema>

</types>

<message name="askfudd">
    <part name="parms" element="tns:askfudd" />    
</message>
<message name="fuddweply">
     <part name="parms" element="tns:fuddweply" />
</message>

<!-- this will be the name of the endpoint class -->
<portType name="elmerfudd">
  <operation name="whatsupdoc">
       <input message="tns:askfudd" />
       <output message="tns:fuddweply"/>
  </operation>  
</portType>

<binding name="fuddportBinding" type="tns:elmerfudd">
   <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="whatsupdoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>  
</binding>

<service name="fuddService">
	<!-- this should map to portName annotation parm -->
	<port name="elmerfudd1" binding="tns:fuddportBinding">
	    <soap:address location="tbd"/>
	</port>    
</service>
</definitions>
