dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/wsdlfaults/etc/inventory/Inventory.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions targetNamespace="http://inventory.wsdlfaults.jaxws"
  xmlns:tns="http://inventory.wsdlfaults.jaxws"
  xmlns:ts="http://inventory.wsdlfaults.jaxws/xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  
  <types>
    <xsd:schema targetNamespace="http://inventory.wsdlfaults.jaxws/xsd" >

    <xsd:complexType name="InventoryRequest">
      <xsd:sequence>
        <xsd:element name="id" type="xsd:string" nillable="true"/>
        <xsd:element name="count" type="xsd:int" />
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QueryRequest">
      <xsd:sequence>
        <xsd:element name="id" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InventoryResponse">
      <xsd:sequence>
        <xsd:element name="result" type="xsd:boolean" />
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QueryResponse">
      <xsd:sequence>
        <xsd:element name="result" type="xsd:int" />
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OperationFault">
      <xsd:sequence>
        <xsd:element name="detail" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="addToInventory" type="ts:InventoryRequest" />
    <xsd:element name="addToInventoryResponse" type="ts:InventoryResponse" />

    <xsd:element name="removeFromInventory" type="ts:InventoryRequest" />
    <xsd:element name="removeFromInventoryResponse" type="ts:InventoryResponse" />
    <xsd:element name="operationFault" type="ts:OperationFault" />

    <xsd:element name="queryInventory" type="ts:QueryRequest" />
    <xsd:element name="queryInventoryResponse" type="ts:QueryResponse" />

    </xsd:schema>
  </types>

  <message name="addToInventory">
    <part name="request" element="ts:addToInventory"/>
  </message>

  <message name="addToInventoryResponse">
    <part name="return" element="ts:addToInventoryResponse"/>
  </message>

  <message name="removeFromInventory">
    <part name="request" element="ts:removeFromInventory"/>
  </message>
  
  <message name="removeFromInventoryResponse">
    <part name="return" element="ts:removeFromInventoryResponse"/>
  </message>
  
  <message name="queryInventory">
    <part name="request" element="ts:queryInventory"/>
  </message>  

  <message name="queryInventoryResponse">
    <part name="return" element="ts:queryInventoryResponse"/>
  </message>  

  <message name="operationFault">
    <part name="theException" element="ts:operationFault"/>
  </message>

  <portType name="InventoryPortType">
    <operation name="removeFromInventory">
      <input message="tns:removeFromInventory"/>
      <output message="tns:removeFromInventoryResponse"/>
      <fault name="theException" message="tns:operationFault"/>
    </operation>  
    <operation name="queryInventory">
      <input message="tns:queryInventory"/>
      <output message="tns:queryInventoryResponse"/>
    </operation>  
    <operation name="addToInventory">
      <input message="tns:addToInventory"/>
      <output message="tns:addToInventoryResponse"/>
    </operation>  
  </portType>
  
  <binding name="InventoryBinding" type="tns:InventoryPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="removeFromInventory">
      <soap:operation />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="theException">
        <soap:fault name="theException" use="literal"/>
      </fault>
    </operation>      
    <operation name="queryInventory">
      <soap:operation />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>      
    <operation name="addToInventory">
      <soap:operation />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="InventoryService">
    <port name="InventoryPort" binding="tns:InventoryBinding">
      <soap:address location="http://@myHostTag@:@myPortTag@/jaxws-wsdlfaults2/InventoryService"/>
    </port>
  </service>

  <service name="InventoryProvider">
    <port name="InventoryProviderPort" binding="tns:InventoryBinding">
      <soap:address location="http://@myHostTag@:@myPortTag@/jaxws-wsdlfaults2/InventoryProvider"/>
    </port>
  </service>

</definitions>


