dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/jaxws/handlersflow/etc/CountString.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions targetNamespace="http://handlersflow.jaxws" 
      xmlns:tns="http://handlersflow.jaxws"
      xmlns:xs="http://handlersflow.jaxws/xsd"
      xmlns="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <types>
      <xsd:schema targetNamespace="http://handlersflow.jaxws/xsd"
                  xmlns:ts="http://handlersflow.jaxws/xsd"
                  xmlns="http://www.w3.org/2001/XMLSchema"
                  elementFormDefault="qualified">

         <complexType name="countString">
            <sequence>
               <element name="request" type="xsd:string"/>
            </sequence>
         </complexType>

         <complexType name="countStringReply">
            <sequence>
               <element name="response" type="xsd:int"/>
            </sequence>
         </complexType>

         <element name="countString" type="ts:countString"/>
         <element name="countStringReply" type="ts:countStringReply"/>
         <element name="sendString" type="ts:countString"/>
      </xsd:schema>
   </types>

   <message name="countString">
      <part name="request" element="xs:countString"/>
   </message>

   <message name="countStringReply">
      <part name="result" element="xs:countStringReply"/>
   </message>

   <message name="sendString">
      <part name="request" element="xs:sendString"/>
   </message>

   <portType name="CountStringPortType">
      <operation name="countString">
         <input message="tns:countString" name="incoming"/>
         <output message="tns:countStringReply" name="outgoing"/>
      </operation>
      <operation name="sendString">
         <input message="tns:sendString" name="incoming"/>
      </operation>
   </portType>

   <binding name="CountStringBinding" type="tns:CountStringPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="countString">
         <soap:operation />
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="sendString">
         <soap:operation />
         <input>
            <soap:body use="literal"/>
         </input>
      </operation>
   </binding>

   <service name="CountStringService">
      <port binding="tns:CountStringBinding" name="CountStringPort">
         <soap:address location="http://@myHostTag@:@myPortTag@/jaxws-handlersflow/CountStringService"/>
      </port>
   </service>

</definitions>
