dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webfault/multipleexceptions/server/etc/MultipleExceptionsImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://server.multipleexceptions.webfault.annotations/" name="MultipleExceptionsImplService" xmlns:tns="http://server.multipleexceptions.webfault.annotations/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.multipleexceptions.webfault.annotations/" schemaLocation="MultipleExceptionsImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addTwoNumbers">
    <part name="parameters" element="tns:addTwoNumbers"/>
  </message>
  <message name="addTwoNumbersResponse">
    <part name="parameters" element="tns:addTwoNumbersResponse"/>
  </message>
  <message name="AddNumbersException">
    <part name="AddNumbersException" element="tns:AddNumbersException"/>
  </message>
  <message name="multiplyTwoNumbers">
    <part name="parameters" element="tns:multiplyTwoNumbers"/>
  </message>
  <message name="multiplyTwoNumbersResponse">
    <part name="parameters" element="tns:multiplyTwoNumbersResponse"/>
  </message>
  <message name="MultiplyNumbersException">
    <part name="MultiplyNumbersException" element="tns:MultiplyNumbersException"/>
  </message>
  <portType name="MultipleExceptionsImpl">
    <operation name="addTwoNumbers">
      <input message="tns:addTwoNumbers"/>
      <output message="tns:addTwoNumbersResponse"/>
      <fault name="AddNumbersException" message="tns:AddNumbersException"/>
      <fault name="AddNumbersException" message="tns:AddNumbersException"/>
    </operation>
    <operation name="multiplyTwoNumbers">
      <input message="tns:multiplyTwoNumbers"/>
      <output message="tns:multiplyTwoNumbersResponse"/>
      <fault name="MultiplyNumbersException" message="tns:MultiplyNumbersException"/>
    </operation>
  </portType>
  <binding name="MultipleExceptionsImplPortBinding" type="tns:MultipleExceptionsImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addTwoNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"/>
      </fault>
      <fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"/>
      </fault>
    </operation>
    <operation name="multiplyTwoNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MultiplyNumbersException">
        <soap:fault name="MultiplyNumbersException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MultipleExceptionsImplService">
    <port name="MultipleExceptionsImplPort" binding="tns:MultipleExceptionsImplPortBinding">
      <soap:address location="http://@REPLACE_WITH_HOST_NAME@:@REPLACE_WITH_PORT_NUM@/MultipleExceptions/MultipleExceptions"/>
    </port>
  </service>
</definitions>

