dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/webservice_g2/interfaces/etc2/wsdl/InterfaceTestTwoImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://server.interfaces.webservice_g2.annotations/" name="InterfaceTestTwoImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.interfaces.webservice_g2.annotations/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.interfaces.webservice_g2.annotations/" schemaLocation="InterfaceTestTwoImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="bareIfMethod">
    <part name="parameters" element="tns:bareIfMethod"/>
  </message>
  <message name="bareIfMethodResponse">
    <part name="parameters" element="tns:bareIfMethodResponse"/>
  </message>
  <message name="annoIfMethod">
    <part name="parameters" element="tns:annoIfMethod"/>
  </message>
  <message name="annoIfMethodResponse">
    <part name="parameters" element="tns:annoIfMethodResponse"/>
  </message>
  <message name="annoIfExcluded">
    <part name="parameters" element="tns:annoIfExcluded"/>
  </message>
  <message name="annoIfExcludedResponse">
    <part name="parameters" element="tns:annoIfExcludedResponse"/>
  </message>
  <portType name="InterfaceTestTwo">
    <operation name="bareIfMethod">
      <input message="tns:bareIfMethod"/>
      <output message="tns:bareIfMethodResponse"/>
    </operation>
    <operation name="annoIfMethod">
      <input message="tns:annoIfMethod"/>
      <output message="tns:annoIfMethodResponse"/>
    </operation>
    <operation name="annoIfExcluded">
      <input message="tns:annoIfExcluded"/>
      <output message="tns:annoIfExcludedResponse"/>
    </operation>
  </portType>
  <binding name="InterfaceTestTwoImplPortBinding" type="tns:InterfaceTestTwo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="bareIfMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="annoIfMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="annoIfExcluded">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InterfaceTestTwoImplService">
    <port name="InterfaceTestTwoImplPort" binding="tns:InterfaceTestTwoImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

