dev/com.ibm.ws.jaxws.xmlws.common_fat/fat/autoFVT/src/annotations/handlerchain/checkdefaults/server3/etc/AddNumbersImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://server3.checkdefaults.handlerchain.annotations/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="AddNumbersException" type="ns1:AddNumbersException" xmlns:ns1="http://server3.checkdefaults.handlerchain.annotations/"/>

  <xs:complexType name="AddNumbersException">
    <xs:sequence>
      <xs:element name="detail" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

